body {

    overflow-x:hidden;
    
}
.info-tab{
    display:inline !important;
    margin-top: 2%;
    font-size: 18px !important;
}
.basic-info{
    /* margin-top: 3%; */
    font-size: 27px;
    /* display: flex; */
    /* float: left; */
    margin-top: 1%;
    margin: auto;
}
.tab-list{
    width: 18%;
    float: left;
    position: absolute;
    height: 100%;
    background-color: aliceblue;
    /* margin-left: 1%;
    margin-top: 2%; */
}
#item-pos-3{
    padding-top: 3%;
}
.descriptions{
    /* float: left; */
    text-align: center;
    width: 90%;
    /* padding-left: 3%; */
    margin-left: 2%;
    margin-top: 15px;
    /* margin-left: 10%; */
}
.el-menu-item{
    background-color: aliceblue !important;
    color: #55a1e9 !important;
    font-size: 18px !important;
}

.is-active{
    background-color: rgb(210, 232, 252) !important;
    color: rgb(66, 66, 66) !important;
    font-size: 18px !important;
}
.el-menu-item > span{
    font-size: 15px !important;
}

.detail-info{
    font-size: 18px;
    text-align: left;
    margin-left:10%;
    margin-top: 2%;
}

.info-table .el-table thead tr th{
    background-color: white !important;
    margin-top: 7%;
}
.info-table{
    /* margin: auto; */
    
    width: 98%;
    margin: auto;
    /* margin-top: 60px; */
}
.h2-title{
    margin-top: 2%;
    font-size: 20px;
}

.var-box{
    /* background-color: #f5f5f5; */
    /* position: fixed; */
    z-index: 1000;
    width: 100%;
    padding-top: 5px;
    /* margin-top: 1%; */
    /* box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 5%); */
}
.var-infoBox{
height: 80px;
margin-left: 1%;

/* background-color: #f5f5f5; */
}
.el-icon-s-order:hover{
    color: #55a1e9;
    font-size: 20px;
}
.el-icon-s-order{
    font-size: 20px;
}
.var-title{
    font-size: 1.8rem;
    text-align: left;
    border-left: 14px solid #6dafec;
    font-weight: 700;
    padding: 0 6px 0;
    line-height: 1.2;
    margin-bottom: .5rem;
}
.card-border{
    width:98%;
    border-top: 2px solid rgb(64, 158, 255)!important;
    margin: auto;
    margin-top: 10px;
}
  

.decorate-bar{
    width: 78%;
    height: 25px;
    margin-left: 13%;
    background-color: rgb(114, 169, 240);
    color: white;
    text-align: left;
    vertical-align: middle;
    /* padding-left: 3%; */
    font-weight: 700;
    font-size: 18px;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.style_pageCategory__1ur8P{
    font-size: .6rem;
    color: #6c757d;
    text-transform: uppercase;
    margin-bottom: .2rem;
    text-align: left;
    left: 0;
    width: 100%;
    
    /* float: left; */
}
.style_categoryLabel__3AJmg::before{
    content: "◈";
    position: relative;
    bottom: .1rem;
    margin-right: .15rem;
    color: #256a88;
}

.el-aside{
    line-height: 0 !important;
}

.p-ele{
    text-align: left;
    margin-top: 2%;
    margin-left: 15px;
    /* line-height: 0px;
    margin-top: 10px; */
}
/* .top-p-ele{
    margin-top: 44%;
} */
.divider{
    margin-top: -5px;
}
.info-div{
    /* height: 38%; */
    
    box-sizing: border-box;
    height: calc(100% - 3rem);
}
#item-pos{
    margin-left: 25px;
}

.el-table th>.cell{
    background-color: white !important;
    font-size: 16px !important;
}
.filt-div-info{
    /* margin-top: 2%; */
    display: flex;
    margin-left: 16px;
}
/* .filt-div-go{
    display: flex;
} */
.filt-spe-select-go{
    width: 50%;
    margin-top: 2%;
}
.compare-o-g{
    display: flex;
    margin-left: 15px;
}
.filt-spe-select{
    width: 50%;
    float: left;
    text-align: left;
    margin-left: 1%;
    margin-top: 15px;
}
/* .btn-div{
    margin-top: 15px;
} */
#filter-search{
    float: left;
    margin-left: 8px;
    margin-top: 15px;
}
.clear-btn{
    height: 40px;
    margin-top: 29px;
}
.filt-spe{
    width: 100%;
    text-align: left;
}
.dbinfo-col{
    background-color:black
}
.question-icon{
    float: right;
}
.table-container{
    overflow: hidden !important;
    overflow-x:hidden !important
}
.tables{
    overflow: hidden !important;
    overflow-x:hidden !important;
    width: 85%;
    margin: auto;

}

.arrow-title{
    height: 24px;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 15px;
}
.navBarWrap {
    position:fixed;
    top:0;
    z-index:999;
    width: 240px;
}

.b-info {
    font-size: 25px;
    color: #0f5e7a;
    text-shadow: 1.5px 2.5px 3px #9b9b9b;
}
.filterBox{
    /* width: 99%; */
}