
.trait-pag {
  margin-top: 5%;
}
.submitButton {
  margin-left: 7%;
  width: 13%;
}
.selectBox {
  margin-left: 0%;
  width: 50%;
}
.margin-top {
  display: flex;
}

.table-container{
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
}

.contain-card{
  border: 1px solid #EBEEF5;
  background-color: #FFF;
  color: #303133;
  transition: .3s;
}

.tree-div{
  width: 95%;
  margin: auto;
  /* margin:1.5% 0 1% 3%; */
  /* margin-top: 3%; */
}

.wraper{
  display: flex;
  margin-bottom: 2%;
}

.trait-info{
  /* margin-left: 10%; */
  width: 97%;
  margin:auto
}

.filter-div{
  padding: 2% 0;
  text-align: left;
  padding-left: 3%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.trait-title{
  display: flex;
  /* padding: 10px 30px; */
  font-size: 18px;  
  /* position: absolute; */
}
.trait-def{
  text-align: left;
}
/* .trait-box{
  padding-left: 20px;
} */
/* .el-card__body{
  padding-top: 5% !important;
} */

.filterCard{
  padding-bottom: 15px;
}

.tableCard{
  /* height:800px; */
  width:100%;
  margin-top: 0;
  /* padding-top: 10px; */
}

.filterBox{
  /* float: left; */
  /* border: 1px solid black; */
  float: right;
  border-radius: 3%;
  margin-left: 40%; 
  position:absolute;
  z-index: 9;
}

.checkBox{
  padding: 30px;
  margin: 3%;
  max-width: 100%;
  text-align: left;
  min-width: 70%;
  float: left;
}

.iconImg{
  height: 15px;
}
.trait-table{
  margin-top: 0;
  overflow: auto !important;
  height: 610px !important;
}
.imglink{
  margin-left: 5%;
}
.check-row{
  background-color: black;
}
#traitCard{
  margin-bottom: 20px;
  margin-top: -20px;
}

.trait-box{
  /* background-color: #f5f5f5; */
  /* position: fixed; */
  z-index: 1000;
  width: 100%;
  padding-top: 10px;
  margin-top: 2%;
  /* box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 5%); */
}
.trait-infoBox{
  height: 120px;
}
.filter-box{
  margin-top: 0;
  padding: 10px 20px ;
  display: inline-block;
  background-color: #f5f5f5;
}
.trait-title{
  border-left: 14px solid #6dafec;
  font-weight: 700;
  padding: 0 6px 0;
  line-height: 1.2;
  margin-bottom: .5rem;
  font-size: 2rem;
}
.trait-def{
  border-left:14px;
  margin-left: 14px;
  font-weight: normal !important;
  font-size: 1.1rem;
}

.el-tree-node{
  font-size: 18px !important;
}
.el-tree-node__label {
  font-size: 16px !important;
}

label {
  font-size: 18px !important;
}
span{
  font-size: 16px !important;
  
}


.el-table thead tr th{
  background-color: #f5f5f5 !important;
  font-size: 16px !important;
}
.cell{
  font-size: 16px !important;
}
.el-submenu__title{
  font-size: 16px !important;
}
#subTableBox{
  width: 95%;
  /* height:200px; */
  /* border:1px solid #000000;   */
  /* background:#99ff33;   */
  /* position:absolute;   */
  /* z-index:9;   */
  padding:6px;  
  line-height:17px;  
  text-align:left;  
  /* top:25%;   */
  /* left: 5%; */
  height: none !important;
  margin: 0 auto;
  /* margin-left: auto; */
}

.el-table__expand-icon{
  height: 0;
}

.el-table thead{
  padding:12px 0 !important;
}

/* .el-table td{
  padding:0 !important
} */

.el-table__expanded-cell[class*=cell]{
  padding: 20px !important;
  margin-top: 10px !important;
}
.el-table::before{
  height: 0;
}
.el-table {
  border: 1px solid rgb(231, 231, 231);
}

.expandA{
  position: absolute;
  color: rgb(70, 121, 187);
  bottom: 0px;
  right: 10%;
  font-weight: 600;
}
.tree-card{
  height: 100%;
}
.gwasDetailCard .el-card__body{
  padding: 0 1% 1% 1%;
}
.el-card__body{
  padding: 0 !important;
}
.el-card__bod{
  padding: 0 !important;
}
.gwasDetailCard{
  margin-bottom: 5%;
}

.Titleh1{
  text-align: left;
  padding-left: 5%;
}
/* .gwasBox{
  height: 100px;
} */
.tooltip-item{
  border: none;
}

/* .el-tooltip__popper .is-light{
  border: 1px solid #c8c9cb !important;
  font-size: 14px !important;
} */
.el-tooltip__popper{
  border: 1px solid #c8c9cb !important;
  font-size: 14px !important;
}
.searchButton{
  margin: 3% 5% 2% 3%;;
  position: absolute;
  top: 0px;
  right: 80px;
}

/* .class_selector{
  width: 18%;
  margin-right: 1%;
} */
.species1_selector{
  width: 28% !important;
  margin:3% 2% 2% 1%;
}
.selector1{
  margin-left: -4% !important;
}
.selector2{
  margin-left: 5% !important;
}

.el-form-item__label{
  text-align: right !important;
  margin-left: 6%;

}
.selector_exp{
  margin-right: 5%;
}
.el-input__inner{
  font-size: 16px !important;
}
.decorate-bar{
  width: 100%;
  height: 35px;
  margin: auto;
  background-color: rgb(114, 169, 240);
  color: white;
  text-align: left;
  vertical-align: middle;
  line-height: 35px;
  padding-left: 3%;
  font-weight: 700;
}
.el-table th>.cell{
  text-align: center !important;
}
.el-table .cell{
  text-align: center !important;
}
#tab-first{
  font-size: 16px;
}
#tab-second{
  font-size: 16px;
}