<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.GeneGoMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.GeneGo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gene_id" jdbcType="VARCHAR" property="geneId" />
    <result column="top_go_id" jdbcType="VARCHAR" property="topGoId" />
    <result column="go_sum_num" jdbcType="INTEGER" property="goSumNum" />
    <result column="species_common_name" jdbcType="VARCHAR" property="speciesCommonName" />
    <result column="taxon_id" jdbcType="INTEGER" property="taxonId" />
    <result column="go_id" jdbcType="VARCHAR" property="goId" />
    <result column="go_annotation" jdbcType="VARCHAR" property="goName" />
    <result column="hdb_gene_id" jdbcType="VARCHAR" property="hdbId" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
  </resultMap>

  <sql id="Base_Column_List">
    id, gene_id, top_go_id, go_sum_num, species_common_name, taxon_id,go_id
  </sql>
  <sql id="Blob_Column_List">
    go_id
  </sql>

  <select id="goInfoOfGene" resultMap="BaseResultMap">
    select * from gene_go_all where hdb_gene_id=#{hdbId}
  </select>

  <select id="initPageGo" resultMap="BaseResultMap">
    select * from gene_go_all where top_go_id=#{topGoid} and classification=#{classification}
    <if test='taxonid != null and taxonid!="" and taxonid!="null"'>
      and taxon_id = #{taxonid}
    </if>
    and hdb_gene_id !="" and hdb_gene_id is not null
  </select>
  <select id="getGoByHdbTaxon" resultMap="BaseResultMap">
    select * from gene_go_all where hdb_gene_id=#{hdbid}
  </select>

</mapper>