<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.GeneBasicInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.GeneBasicInfo">
    <id column="gbi_id" jdbcType="INTEGER" property="gbiId" />
    <result column="ensembl_gene_id" jdbcType="VARCHAR" property="ensemblGeneId" />
    <result column="uniprot_id" property="uniprotId" />
    <result column="enspro_id" jdbcType="VARCHAR" property="ensemblProteinId" />
    <result column="refseq_id" jdbcType="VARCHAR" property="refseqId" />
    <result column="gene_synonym" jdbcType="VARCHAR" property="geneSynonym" />
    <result column="gene_type" jdbcType="VARCHAR" property="geneType" />
    <result column="gene_symbol" jdbcType="VARCHAR" property="geneSymbol" />
    <result column="entrez_gene_id" jdbcType="VARCHAR" property="entrezGene" />
    <result column="chromosom" jdbcType="VARCHAR" property="chromosom" />
    <result column="gene_start" jdbcType="INTEGER" property="geneStart" />
    <result column="gene_end" jdbcType="INTEGER" property="geneEnd" />
    <result column="gene_source" jdbcType="VARCHAR" property="geneSource" />
    <result column="gwas_gene_id" jdbcType="VARCHAR" property="gwasGeneId" />
    <result column="jgi_gene_id" jdbcType="VARCHAR" property="jgiGeneId" />
    <result column="hdb_gene_id" jdbcType="VARCHAR" property="hdbGeneId" />
    <result column="taxon_id" property="taxonId" />
    <result column="is_homolog"  property="isHomolog" />
    <result column="taxon_name"  property="taxonName" />
    <result column="species_type"  property="speciesType" />
    <result column="gene_description" jdbcType="LONGVARCHAR" property="geneDescription" />
    <result column="var_gene_id"  property="varGeneId" />
    <result column="exp_gene_id"  property="expGeneId" />
    <result column="hdb_gene_id"  property="hdbId" />


  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.ac.cncb.ngdc.syndb.entity.GeneBasicInfo">
    <result column="gene_description" jdbcType="LONGVARCHAR" property="geneDescription" />
  </resultMap>
  <resultMap id="TraitResultMap" type="cn.ac.cncb.ngdc.syndb.entity.TraitName">
    <result column="trait_id" jdbcType="INTEGER" property="trait_id" />
    <result column="trait_name" jdbcType="VARCHAR" property="trait_name" />
    <result column="trait_type" jdbcType="INTEGER" property="trait_type" />
  </resultMap>
  <sql id="Base_Column_List">
    gbi_id, ensembl_gene_id, ensembl_protein_id,gene_synonym, gene_type, gene_symbol, entrez_gene, chromosom,
    gene_start, gene_end, gene_source, gwas_gene_id, jgi_gene_id
  </sql>
  <sql id="Blob_Column_List">
    gene_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gene_basic_info_1
    where gbi_id = #{gbiId,jdbcType=INTEGER}
  </select>
  <select id="allOrthoList" resultMap="BaseResultMap">
    select * from gene_basic_info_1
  </select>

  <select id="filterHomologGene" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select a.gbi_id,a.uniprot_id,a.enspro_id,a.hdb_gene_id,a.ensembl_gene_id,a.entrez_gene_id,a.gene_synonym,a.gene_type,a.gene_symbol,a.taxon_id,
    a.gene_description,a.gwas_gene_id,a.taxon_name as taxon_name,a.species_type from gene_basic_info_1 a where 1=1
    <if test="species != null">
      and  a.taxon_name like concat('%',#{species},'%')
    </if>
    <if test="commonandlatin != null">
      and   ( a.taxon_name like concat('%',#{commonandlatin},'%') or (a.species_common_name like concat('%',#{commonandlatin},'%')))
    </if>
    <if test="commonname != null">commonandlatin
      and a.species_common_name =#{commonname}
    </if>

    <if test="symbol != null">
      and ( (a.gene_symbol =#{symbol}) or (a.gene_synonym =#{symbol}) )
    </if>
    <if test="ensgene != null">
      and a.ensembl_gene_id like concat('%',#{ensgene},'%')
    </if>
    <if test="enspro != null">
      and a.enspro_id like concat('%',#{enspro},'%')
    </if>
    <if test="entrez != null">
      and a.entrez_gene_id like concat('%',#{entrez},'%')
    </if>
    <if test="uniprot != null">
      and a.uniprot_id like concat('%',#{uniprot},'%')
    </if>
    <if test="biotype != null">
      and a.gene_type like concat('%',#{biotype},'%')
    </if>
    <if test="allfield != null">
      and ( (a.gene_type like concat('%',#{allfield},'%'))
      or (a.gene_type like concat('%',#{allfield},'%'))
      or (a.uniprot_id like concat('%',#{allfield},'%') )
      or (a.entrez_gene_id like concat('%',#{allfield},'%'))
      or (a.enspro_id like concat('%',#{allfield},'%'))
      or (a.ensembl_gene_id like concat('%',#{allfield},'%'))
      or ((a.gene_symbol like concat('%',#{allfield},'%') ) or (a.gene_synonym like concat('%',#{allfield},'%') ) )
      or ((a.taxon_name like concat('%',#{allfield},'%') ) or (a.species_common_name like concat('%',#{allfield},'%') ) )
      )
    </if>

    <if test="hdbgeneList != null">
        and a.hdb_gene_id in
      <foreach item="hdbgene" index="index" collection="hdbgeneList"  open="(" separator="," close=")">
        #{hdbgene}
      </foreach>
    </if>
    <if test="taxonList != null ">
      and a.taxon_id in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>
    </if>
    <if test="traitList != null ">
      and a.hdb_gene_id in (select hdb_gene_id from trait_all_copy1 where trait_id in
      <foreach item="trait" index="index" collection="traitList"  open="(" separator="," close=")">
        #{trait}
      </foreach>
      )
    </if>
    <if test="variantlist != null">
        and a.hdb_gene_id in (select hdb_gene_id from variation_all where var_name in
        <foreach item="variant" index="index" collection="variantlist"  open="(" separator="," close=")">
          #{variant}
        </foreach>
        )
    </if>
    <if test="explist != null">
      and a.hdb_gene_id in (select hdb_gene_id from gene_expression where annotation in
      <foreach item="expression" index="index" collection="explist"  open="(" separator="," close=")">
        #{expression}
      </foreach>
      )
    </if>

    <if test="golist != null">
        and a.hdb_gene_id in (select hdb_gene_id from gene_go_all where top_go_id in
        <foreach item="gene" index="index" collection="golist"  open="(" separator="," close=")">
          #{gene}
        </foreach>
      )
    </if>

    <!--<if test="orthtaxonlist != null ">
         and a.hdb_gene_id in (
            select hdb_gene_id from ortholog_all64_1 b where ((

              b.tax_id1 in
              <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
                #{taxon}
              </foreach>
              <if test="orthtaxonlist != null ">
                and b.tax_id2 in
                <foreach item="orthtaxon" index="index" collection="orthtaxonlist"  open="(" separator="," close=")">
                  #{orthtaxon}
                </foreach>
              </if>
              ) or (

              b.tax_id2 in
              <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
                #{taxon}
              </foreach>
              <if test="orthtaxonlist != null ">
                and b.tax_id1 in
                <foreach item="orthtaxon" index="index" collection="orthtaxonlist"  open="(" separator="," close=")">
                  #{orthtaxon}
                </foreach>

              </if>
              ))
        )
    </if>-->

    and a.is_homolog=1
  </select>

  <select id="selectGene" resultMap="BaseResultMap">
    select * from gene_basic_info_1  where hdb_gene_id=#{hdbId} and taxon_id=#{taxonid}
  </select>

  <select id="selectGeneGoInfo" resultMap="BaseResultMap">
    select * from go_test  where gene_id=#{geneName}
  </select>
  <select id="selectGeneVarInfo" resultMap="BaseResultMap">
    select * from variation_all  where gene_id=#{geneName}
  </select>
  <select id="traitInfoList" resultMap="TraitResultMap">
    select * from trait_name
  </select>

  <select id="selectGeneByHdbGeneId" resultMap="BaseResultMap">
      select * from gene_basic_info_1 where hdb_gene_id=#{hdbId} limit 0,1
  </select>

  <select id="getHdbIdByEnsId" resultType="String">
      select hdb_gene_id from gene_basic_info_1 where ensembl_gene_id=#{ensId} limit 0,1
  </select>

  <select id="getHdbIdByOtherId" resultType="java.lang.String">
      select hdb_gene_id from gene_basic_info_1 where (ensembl_gene_id=#{geneid} or entrez_gene_id=#{geneid} or refseq_id=#{geneid} or uniprot_id=#{geneid} or gene_synonym=#{geneid} or gene_symbol=#{geneid} )
  </select>

  <select id="getEnsGidByEnspId" resultType="String">
      select ensembl_gene_id from gene_basic_info_1 where ensembl_protein_id=#{enspId} limit 0,1
  </select>
</mapper>