<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.GeneBasicInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.GeneBasicInfo">
    <id column="gbi_id" jdbcType="INTEGER" property="gbiId" />
    <result column="ensembl_gene_id" jdbcType="VARCHAR" property="ensemblGeneId" />
    <result column="refseq_id" jdbcType="VARCHAR" property="refseqId" />
    <result column="gene_synonym" jdbcType="VARCHAR" property="geneSynonym" />
    <result column="gene_type" jdbcType="VARCHAR" property="geneType" />
    <result column="gene_symbol" jdbcType="VARCHAR" property="geneSymbol" />
    <result column="entrez_gene" jdbcType="VARCHAR" property="entrezGene" />
    <result column="chromosom" jdbcType="VARCHAR" property="chromosom" />
    <result column="gene_start" jdbcType="INTEGER" property="geneStart" />
    <result column="gene_end" jdbcType="INTEGER" property="geneEnd" />
    <result column="gene_source" jdbcType="VARCHAR" property="geneSource" />
    <result column="gwas_gene_id" jdbcType="VARCHAR" property="gwasGeneId" />
    <result column="jgi_gene_id" jdbcType="VARCHAR" property="jgiGeneId" />
    <result column="hdb_gene_id" jdbcType="VARCHAR" property="hdbGeneId" />
    <result column="taxon_id" property="taxonId" />
    <result column="is_homolog"  property="isHomolog" />
    <result column="taxon_name"  property="taxonName" />
    <result column="species_type"  property="speciesType" />
    <result column="gene_description" jdbcType="LONGVARCHAR" property="geneDescription" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.ac.cncb.ngdc.syndb.entity.GeneBasicInfo">
    <result column="gene_description" jdbcType="LONGVARCHAR" property="geneDescription" />
  </resultMap>
  <resultMap id="TraitResultMap" type="cn.ac.cncb.ngdc.syndb.entity.TraitBasicInfo">
    <result column="trait_id" jdbcType="INTEGER" property="trait_id" />
    <result column="trait_name" jdbcType="VARCHAR" property="trait_name" />
    <result column="trait_type" jdbcType="INTEGER" property="trait_type" />
  </resultMap>
  <sql id="Base_Column_List">
    gbi_id, ensembl_gene_id, gene_synonym, gene_type, gene_symbol, entrez_gene, chromosom, 
    gene_start, gene_end, gene_source, gwas_gene_id, jgi_gene_id
  </sql>
  <sql id="Blob_Column_List">
    gene_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gene_basic_info
    where gbi_id = #{gbiId,jdbcType=INTEGER}
  </select>
  <select id="allOrthoList" resultMap="BaseResultMap">
    select * from gene_basic_info
  </select>

  <select id="filterHomologGene" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select a.gbi_id,a.hdb_gene_id,a.ensembl_gene_id,a.entrez_gene_id,a.gene_synonym,a.gene_type,a.gene_symbol,a.taxon_id,a.gene_description,a.gwas_gene_id, b.latin_name as taxon_name,b.species_type from gene_basic_info a left join species b on a.taxon_id=b.taxon_id where 1=1
    <if test="taxonList != null ">
      and a.taxon_id in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>
    </if>
    <if test="traitList != null ">
      and a.hdb_gene_id in (select gene_id from trait_all where trait_id in
      <foreach item="trait" index="index" collection="traitList"  open="(" separator="," close=")">
        #{trait}
      </foreach>
      )
    </if>
    and a.is_homolog=1
  </select>

  <select id="selectGene" resultMap="BaseResultMap">
    select * from gene_basic_info  where entrez_gene=#{geneName}
  </select>

  <select id="selectGeneGoInfo" resultMap="BaseResultMap">
    select * from go_test  where gene_id=#{geneName}
  </select>
  <select id="selectGeneVarInfo" resultMap="BaseResultMap">
    select * from variation_all  where gene_id=#{geneName}
  </select>
  <select id="traitInfoList" resultMap="TraitResultMap">
    select * from trait_name
  </select>
  <select id="selectEnsgIdByhdbId" resultType="String">
    select ensembl_gene_id from gene_basic_info where hdb_gene_id=#{hdbId}
  </select>

  <select id="selectGeneByHdbGeneId" resultMap="BaseResultMap">
      select * from gene_basic_info where hdb_gene_id=#{hdbGeneId}
  </select>

</mapper>