<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.OrthologGeneInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.OrthologGeneInfo">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="tax_id1" jdbcType="INTEGER" property="taxId1" />
    <result column="uniprot_id1" jdbcType="VARCHAR" property="uniprotId1" />
    <result column="ensembl_id1" jdbcType="VARCHAR" property="ensemblId1" />
    <result column="refseq_id1" jdbcType="VARCHAR" property="refseqId1" />
    <result column="tax_id2" jdbcType="INTEGER" property="taxId2" />
    <result column="uniprot_id2" jdbcType="VARCHAR" property="uniprotId2" />
    <result column="ensemb_id2" jdbcType="VARCHAR" property="ensembId2" />
    <result column="refseq_id2" jdbcType="VARCHAR" property="refseqId2" />
    <result column="from_db" jdbcType="VARCHAR" property="fromDb" />
    <result column="db_evidence" jdbcType="VARCHAR" property="dbEvidence" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="hdb_gene_id1" jdbcType="LONGVARCHAR" property="hdbGeneId1" />
    <result column="entrez_id1" jdbcType="LONGVARCHAR" property="entrezId1" />
    <result column="hdb_gene_id2" jdbcType="LONGVARCHAR" property="hdbGeneId2" />
    <result column="entrez_id2" jdbcType="LONGVARCHAR" property="entrezId2" />
    <result column="gene_symbol1" jdbcType="VARCHAR" property="geneSymbol1" />
    <result column="gene_symbol2" jdbcType="VARCHAR" property="geneSymbol2" />
    <result column="latin_name1" jdbcType="VARCHAR" property="latinName1" />
    <result column="latin_name2" jdbcType="VARCHAR" property="latinName2" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, tax_id1, uniprot_id1, ensembl_id1, refseq_id1, tax_id2, uniprot_id2, ensemb_id2, 
    refseq_id2, from_db, db_evidence, create_time, last_update_time
  </sql>
  <sql id="Blob_Column_List">
    hdb_gene_id1, entrez_id1, hdb_gene_id2, entrez_id2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ortholog_all64
    where oid = #{oid,jdbcType=INTEGER}
  </select>

  <select id="findOrthGeneByGivenGeneAndTaxon" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select * from ortholog_all64_1 oall where ((

     oall.hdb_gene_id1=#{geneId} and oall.tax_id1=#{taxonId}
    <if test="taxonList != null ">
      and oall.tax_id2 in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>
    </if>
    ) or (
     oall.hdb_gene_id2=#{geneId} and oall.tax_id2=#{taxonId}
    <if test="taxonList != null ">
      and oall.tax_id1 in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>

    </if>
    ))
  </select>


  <select id="findOrthGeneByGivenGeneAndTaxonModify" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select hdb_gene_id1, tax_id1,(select latin_name from species where species.taxon_id=tax_id1) as latin_name1,c.gene_symbol as gene_symbol1,
    c.ensembl_gene_id as ensembl_id1,c.entrez_gene_id as entrez_id1,  hdb_gene_id2, tax_id2,(select latin_name from species
    where species.taxon_id=tax_id2) as latin_name2,  d.gene_symbol as gene_symbol2,d.ensembl_gene_id as ensembl_id2,d.entrez_gene_id as entrez_id2
    from ortholog_all64_1 b
    inner join gene_basic_info_1 c on c.hdb_gene_id=b.hdb_gene_id1 INNER JOIN  gene_basic_info_1 d on d.hdb_gene_id = b.hdb_gene_id2  where ((

     b.hdb_gene_id1=#{geneId} and b.tax_id1=#{taxonId}
    <if test="taxonList != null ">
      and b.tax_id2 in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>
    </if>
    ) or (

     b.hdb_gene_id2=#{geneId} and b.tax_id2=#{taxonId}
    <if test="taxonList != null ">
      and b.tax_id1 in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>

    </if>
    ))
  </select>


  <select id="selectExpCountByGeneAndTaxon" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select count(*) from gene_expression where hdb_gene_id=#{geneId} and taxon_id=#{taxonId}
  </select>

  <select id="selectVarCountByGeneAndTaxon" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select count(*) from variation_all where hdb_gene_id=#{geneId} and taxon_id=#{taxonId}
  </select>

  <select id="selectGOCountByGeneAndTaxon" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select count(*) from gene_go_all where hdb_gene_id=#{geneId} and taxon_id=#{taxonId}
  </select>


</mapper>