<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.Ortho9031Mapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.Ortho9031">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hdb_gene_id1" jdbcType="VARCHAR" property="hdbId1" />
    <result column="tax_id1" jdbcType="INTEGER" property="tax1" />
    <result column="uniprot_id1" jdbcType="VARCHAR" property="protein1" />
    <result column="ensembl_id1" jdbcType="VARCHAR" property="ensemblId1" />
    <result column="refseq_id1" jdbcType="VARCHAR" property="refseqId1" />
    <result column="gene_id1" jdbcType="VARCHAR" property="geneId1" />
    <result column="entrez_id1" jdbcType="VARCHAR" property="entrezId1" />
    <result column="common_name1" jdbcType="VARCHAR" property="commonName1" />
    <result column="classification1" jdbcType="VARCHAR" property="classification1" />
    <result column="data_source1" jdbcType="VARCHAR" property="dataSource1" />
    <result column="trait_name1" jdbcType="VARCHAR" property="traitName1" />
    <result column="gwas_id1" jdbcType="VARCHAR" property="gwasId1" />
    <result column="gwas_orgid1" jdbcType="VARCHAR" property="gwasOrgId1" />
    <result column="var_name1" jdbcType="VARCHAR" property="varName1" />

    <result column="hdb_gene_id2" jdbcType="VARCHAR" property="hdbId2" />
    <result column="tax_id2" jdbcType="INTEGER" property="tax2" />
    <result column="uniprot_id2" jdbcType="VARCHAR" property="protein2" />
    <result column="refseq_id2" jdbcType="VARCHAR" property="refseqId2" />
    <result column="gene_id2" jdbcType="VARCHAR" property="geneId2" />
    <result column="ensemb_id2" jdbcType="VARCHAR" property="ensemblId2" />
    <result column="entrez_id2" jdbcType="VARCHAR" property="entrezId2" />
    <result column="common_name2" jdbcType="VARCHAR" property="commonName2" />
    <result column="classification2" jdbcType="VARCHAR" property="classification2" />
    <result column="data_source2" jdbcType="VARCHAR" property="dataSource2" />
    <result column="trait_name2" jdbcType="VARCHAR" property="traitName2" />
    <result column="gwas_id2" jdbcType="VARCHAR" property="gwasId2" />
    <result column="gwas_orgid2" jdbcType="VARCHAR" property="gwasOrgId2" />
    <result column="var_name2" jdbcType="VARCHAR" property="varName2" />
    <result column="var_name" jdbcType="VARCHAR" property="varName" />

    <result column="from_db" jdbcType="VARCHAR" property="fromdb" />
    <result column="db_evidence" jdbcType="VARCHAR" property="dbEvidence" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>


  <resultMap id="GoResultMap" type="cn.ac.cncb.ngdc.syndb.entity.OrthoGo">
    <result column="hdb_gene_id1" jdbcType="VARCHAR" property="hdbId1" />
    <result column="tax_id1" jdbcType="INTEGER" property="tax1" />
    <result column="uniprot_id1" jdbcType="VARCHAR" property="protein1" />
    <result column="ensembl_id1" jdbcType="VARCHAR" property="ensemblId1" />
    <result column="common_name1" jdbcType="VARCHAR" property="commonName1" />
    <result column="classification1" jdbcType="VARCHAR" property="classification1" />
    <result column="go_name1" jdbcType="VARCHAR" property="goName1" />
    <result column="eo_name1" jdbcType="VARCHAR" property="eoName1" />
    <result column="hdb_gene_id2" jdbcType="VARCHAR" property="hdbId2" />
    <result column="tax_id2" jdbcType="INTEGER" property="tax2" />
    <result column="uniprot_id2" jdbcType="VARCHAR" property="protein2" />
    <result column="ensemb_id2" jdbcType="VARCHAR" property="ensemblId2" />
    <result column="common_name2" jdbcType="VARCHAR" property="commonName2" />
    <result column="classification2" jdbcType="VARCHAR" property="classification2" />
    <result column="go_name2" jdbcType="VARCHAR" property="goName2" />
    <result column="eo_name2" jdbcType="VARCHAR" property="eoName2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, protein1, refseqId1, gene_id1, tax1, protein2, refseqId2, gene_id2, tax2, dbinfo, create_time,
    last_update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 9031_ortho
    where id = #{id,jdbcType=INTEGER}
  </select>
<!--  <select id="findOrthByTaxonAndGene" resultMap="BaseResultMap">-->
<!--    select c.taxon1,c.uniprot_id1,c.taxon2,c.uniprot_id2,c.db_evidence,c.from_db-->
<!--from gene_basic_info a inner join ortholog_id_mapping b on a.ensembl_gene_id=b.ensembl_gene_id inner join ortholog_all c on b.uniprot_id=c.uniprot_id1-->
<!--where a.gwas_gene_id=#{geneId} and c.taxon1=#{taxonId}-->

<!--  </select>-->
<!--  这里修改替代了上面的语句，直接判断ensemblid=查询id，等gwas id对应关系整理完了再换上面那个-->
<!--  存在问题：
  1、没有对同源的1、2id都进行判断
  2、速度非常慢
  解决：
  1、在ortholog_idmapping表中加gwasid列，不再查gbi表
  2、修改sql，判断1 or 2 id
-->
<!--  <select id="findOrthByTaxonAndGene" resultMap="BaseResultMap">-->
<!--    select c.tax_id1,c.uniprot_id1,c.tax_id2,c.uniprot_id2,c.db_evidence,c.from_db-->
<!--from ((gene_basic_info a inner join ortholog_id_mapping b on a.ensembl_gene_id=b.ensembl_gene_id )inner join ortholog_all64 c on b.uniprot_id=c.uniprot_id1)-->
<!--where a.ensembl_gene_id=#{geneId} and c.tax_id1=#{taxonId}-->
<!--  </select>-->
<!--select * from ortholog_id_mapping b inner join ortholog_all64 c on b.uniprot_id=c.uniprot_id1 or b.uniprot_id=c.uniprot_id2 where b.ensembl_gene_id=#{geneId} and b.taxon_id=#{taxonId}-->
<!--  这里修改，去掉gene_basic_info的inner join-->
<!--  动物-->
<!--  <select id="findOrthByTaxonAndGene" resultMap="BaseResultMap">-->
<!--     select * from ortholog_id_mapping oim, ortholog_all64 oall where (( oim.uniprot_id=oall.uniprot_id1 and oall.tax_id2 in (9925,9823,9940,9031,9913)) or (oim.uniprot_id=oall.uniprot_id2 and oall.tax_id1 in (9925,9823,9940,9031,9913))) and oim.ensembl_gene_id=#{geneId} and oim.taxon_id=#{taxonId}-->
<!--  </select>-->
<!--  植物-->
  <select id="findOrthByTaxonAndGene" resultMap="BaseResultMap">
     select * from ortholog_id_mapping oim, ortholog_all64 oall where (( oim.uniprot_id=oall.uniprot_id1 and oall.tax_id2 in (3635,102107,4577,3708,4530,4558)) or (oim.uniprot_id=oall.uniprot_id2 and oall.tax_id1 in (3635,102107,4577,3708,4530,4558))) and oim.ensembl_gene_id=#{geneId} and oim.taxon_id=#{taxonId}
  </select>

<!--  <select id="findOrthByTaxon2" resultMap="BaseResultMap">-->
<!--    select c.taxon1,c.uniprot_id1,c.taxon2,c.uniprot_id2,c.db_evidence,c.from_db-->
<!--from gene_basic_info2 a inner join ortholog_id_mapping b on a.ensembl_gene_id=b.ensembl_gene_id inner join ortholog_all c on b.uniprot_id=c.uniprot_id1-->
<!--where a.ensembl_gene_id=#{geneId} and c.taxon1=#{taxonId} and c.taxon2=#{taxonId2}-->
<!--  </select>-->
  <select id="findOrthByTaxon2" resultMap="BaseResultMap">
    select * from ortholog_all64 where
    ((hdb_gene_id1=#{geneName} and tax_id1
        in
    (<foreach collection="list" item="item" separator=",">#{item}</foreach>)) or
    (hdb_gene_id2=#{geneName} and tax_id2 in (<foreach collection="list" item="item" separator=",">#{item}</foreach>))
  </select>

  <select id="findTraitNameByGene" resultType="String">
    select trait_name from trait_all where gene_id=#{geneid}
  </select>

  <select id="findOrthGeneByGivenGeneAndTaxon" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select * from ortholog_id_mapping oim, ortholog_all64 oall where (( oim.uniprot_id=oall.uniprot_id1
    <if test="taxonList != null ">
      and oall.tax_id2 in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>
    </if>
    ) or (oim.uniprot_id=oall.uniprot_id2 and

    <if test="taxonList != null ">
      oall.tax_id1 in
      <foreach item="taxon" index="index" collection="taxonList"  open="(" separator="," close=")">
        #{taxon}
      </foreach>
    </if>
    )) and oim.hdb_gene_id=#{geneId} and oim.taxon_id=#{taxonId}
  </select>
<!--  <select id="selectGeneOrthoInfo" resultMap="BaseResultMap">-->
<!--    select * from ortholog_all64_1  where (hdb_gene_id1 like #{hdbid} or hdb_gene_id2 like #{hdbid} )-->
<!--  </select>-->
<!--  <select id="selectGeneOrthoInfo" resultMap="BaseResultMap">&ndash;&gt;-->
<!--     select tax_id1,tax_id2,(select trait_name from trait_all_copy1 where hdb_gene_id=hdb_gene_id1) as trait_name1,(select trait_name from trait_all_copy1 where hdb_gene_id=hdb_gene_id2)as trait_name2 from ortholog_all64_1 where (hdb_gene_id1 like #{hdbid} or hdb_gene_id2 like #{hdbid} )-->
<!--  </select>-->
<!--  <select id="selectGeneOrthoInfo" resultMap="BaseResultMap">-->
<!--      select a.common_name as common_name1,a.classification as classification1,tax_id1,(select group_concat(trait_name)  from trait_all_copy1 where hdb_gene_id=hdb_gene_id1 ) as trait_name1,tax_id2,b.common_name as common_name2,b.classification as classification2, (select group_concat(trait_name) from trait_all_copy1 where hdb_gene_id=hdb_gene_id2 ) as trait_name2 from ortholog_all64_1 inner join (select common_name,classification,data_source,taxon_id from species ) as a on a.taxon_id=ortholog_all64_1.tax_id1 inner join (select common_name,classification,data_source,taxon_id from species) as b on b.taxon_id=tax_id2 where (hdb_gene_id1 like #{hdbid} or hdb_gene_id2 like #{hdbid} )-->
<!--  </select>-->
  <select id="selectGeneOrthoInfo" resultMap="BaseResultMap">
    select a.common_name as common_name1,a.classification as classification1,tax_id1,(select group_concat(trait_name)  from trait_all_copy1 where hdb_gene_id=hdb_gene_id1 ) as trait_name1,tax_id2,b.common_name as common_name2,b.classification as classification2, (select group_concat(trait_name) from trait_all_copy1 where hdb_gene_id=hdb_gene_id2 ) as trait_name2,hdb_gene_id1,hdb_gene_id2 from ortholog_all64_1 inner join (select common_name,classification,data_source,taxon_id from species ) as a on a.taxon_id=ortholog_all64_1.tax_id1 inner join (select common_name,classification,data_source,taxon_id from species) as b on b.taxon_id=tax_id2 where (hdb_gene_id1 like #{hdbId} or hdb_gene_id2 like #{hdbId} )
  </select>

  <select id="geneDetailGeneOrthoInfo" resultMap="BaseResultMap">
    select * from ortholog_all64_1 as a inner join gene_basic_info_1 as b on (a.hdb_gene_id1=b.hdb_gene_id or a.hdb_gene_id2=b.hdb_gene_id)where hdb_gene_id1 = #{hdbId} or hdb_gene_id2=#{hdbId}
  </select>
  <select id="selectGeneVarOrthoInfo" resultMap="BaseResultMap">
    select a.common_name as common_name1,a.classification as classification1,a.data_source as data_source1,a.gwas_orgid as gwas_orgid1,tax_id1,(select group_concat(var_name) from variation_all where hdb_gene_id=hdb_gene_id1) as var_name1,tax_id2,b.common_name as common_name2,b.classification as classification2,b.data_source as data_source2,b.gwas_orgid as gwas_orgid2, (select group_concat(var_name) from variation_all where hdb_gene_id=hdb_gene_id2)as var_name2,hdb_gene_id1,hdb_gene_id2 from ortholog_all64_1 inner join (select common_name,classification,data_source,taxon_id,gwas_orgid from species ) as a on a.taxon_id=ortholog_all64_1.tax_id1 inner join (select common_name,classification,data_source,taxon_id,gwas_orgid from species) as b on b.taxon_id=tax_id2 where (hdb_gene_id1 like #{hdbid} or hdb_gene_id2 like #{hdbid} )
  </select>

  <select id="selectGeneGoOrthoInfo" resultMap="GoResultMap">
      select a.common_name as common_name1,a.classification as classification1,tax_id1,(select group_concat(go_annotation) from gene_go_all where hdb_gene_id=hdb_gene_id1) as go_name1,tax_id2,b.common_name as common_name2,b.classification as classification2, (select group_concat(go_annotation) from gene_go_all where hdb_gene_id=hdb_gene_id2)as go_name2,hdb_gene_id1,hdb_gene_id2 from ortholog_all64_1 inner join (select common_name,classification,taxon_id from species ) as a on a.taxon_id=ortholog_all64_1.tax_id1 inner join (select common_name,classification,data_source,taxon_id from species) as b on b.taxon_id=tax_id2 where (hdb_gene_id1 like #{hdbid} or hdb_gene_id2 like #{hdbid} )
  </select>

  <select id="selectGeneEoOrthoInfo" resultMap="GoResultMap">
    select a.common_name as common_name1,a.classification as classification1,tax_id1,(select GROUP_CONCAT(annotation) from gene_expression where hdb_gene_id=hdb_gene_id1) as eo_name1,tax_id2,b.common_name as common_name2,b.classification as classification2, (select GROUP_CONCAT(annotation) from gene_expression where hdb_gene_id=hdb_gene_id2)as eo_name2,hdb_gene_id1,hdb_gene_id2 from ortholog_all64_1 inner join (select common_name,classification,taxon_id from species ) as a on a.taxon_id=ortholog_all64_1.tax_id1 inner join (select common_name,classification,taxon_id from species) as b on b.taxon_id=tax_id2 where (hdb_gene_id1 like #{hdbid} or hdb_gene_id2 like #{hdbid} )
  </select>

</mapper>