<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.SpeciesInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.SpeciesInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="taxon_id" jdbcType="VARCHAR" property="taxonId" />
    <result column="latin_name" jdbcType="VARCHAR" property="latinName" />
    <result column="common_name" jdbcType="VARCHAR" property="commonName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="gwas_orgid" jdbcType="VARCHAR" property="gwasOrgid" />
    <result column="species_type" jdbcType="VARCHAR" property="speciesType" />
    <result column="homo_gene_trait" jdbcType="INTEGER" property="traitGeneNum" />
    <result column="homo_gene_variant" jdbcType="INTEGER" property="varGeneNum" />
    <result column="homo_gene_exp" jdbcType="INTEGER" property="expGeneNum" />
    <result column="homo_gene_go" jdbcType="INTEGER" property="goGeneNum" />
  </resultMap>

  <resultMap id="HeatmapResultMap" type="cn.ac.cncb.ngdc.syndb.entity.SpeciesHeatmap">
    <result column="common_name" jdbcType="VARCHAR" property="commonName" />
    <result column="species_statistics" jdbcType="VARCHAR" property="speciesStatistic" />
    <result column="taxon_id" jdbcType="VARCHAR" property="taxonId" />
    <result column="hdb_stat_id" jdbcType="VARCHAR" property="hdbStatId" />
  </resultMap>

  <select id="selectAllAnimals" resultMap="BaseResultMap">
    select * from species where species_type=1 and has_homolog=1 order by common_name
  </select>


  <select id="selectAllPlants" resultMap="BaseResultMap">
    select * from species where species_type=2 and has_homolog=1 order by common_name
  </select>

  <select id="selectAllHomologOrganism" resultMap="BaseResultMap">
    select * from species where has_homolog=1 order by common_name
  </select>

  <select id="selectOtherSpecies" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select * from species where 1=1
    <if test="speciesType != null">
      and species_type=#{speciesType}
    </if>
    <if test="taxon != null">
      and taxon_id != #{taxon}
    </if>
    and has_homolog=1
  </select>

  <select id="findSpeciesByTaxon" resultMap="BaseResultMap">
    select * from species where taxon_id=#{taxonId}
  </select>
  <select id="speciesInfoList" resultMap="BaseResultMap">
    select * from species where classification=#{classification} and has_homolog=1
  </select>
  <select id="getDataSource" resultType="String">
    select data_source from species where taxon_id=#{taxonid}
  </select>
  <select id="getDataSourceByName" resultType="String">
    select data_source from species where common_name=#{speciesName}
  </select>
  <select id="getClassificatoinByTax" resultType="String">
    select classification from species where taxon_id=#{taxid}
  </select>
  <select id="selectAllSpecies" resultMap="BaseResultMap">
    select * from species where has_homolog=1
  </select>
  <select id="speciesNameList" resultType="String">
    select common_name from species_statistic where has_homolog=1
  </select>
  <select id="speciesHeatmap" resultMap="HeatmapResultMap">
    select * from species_statistic
  </select>

  <select id="speciesNameListforTrait" resultType="String">
    select distinct(species_common_name) from trait_all_1 where trait_id=#{traitID} and classification=#{speciesType} and hdb_gene_id is not null and hdb_gene_id!='' order by species_common_name
  </select>

  <select id="speciesNameListforVar" resultType="String">
    select distinct(species_common_name) from variation_all where var_name=#{traitID} and classification=#{speciesType} and hdb_gene_id is not null and hdb_gene_id!='' order by species_common_name
  </select>

  <select id="speciesNameListforGo" resultMap="BaseResultMap">
    select distinct(species_common_name) as common_name ,a.taxon_id,has_homolog from gene_go_all as a inner join species on a.taxon_id=species.taxon_id where top_go_id=#{topGoId}  and a.classification=#{speciesType} and has_homolog =1 order by species_common_name
  </select>

  <select id="speciesNameListforExp" resultMap="BaseResultMap">
    select distinct(a.common_name),a.taxon_id,has_homolog from gene_expression as a inner join species on a.taxon_id=species.taxon_id where annotation=#{expName}  and a.classification=#{speciesType} and has_homolog =1 order by a.common_name

  </select>

</mapper>