<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.Trait2gwasMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.Trait2gwas">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gene_id" jdbcType="VARCHAR" property="geneId" />
    <result column="hdb_gene_id" jdbcType="VARCHAR" property="hdbId" />
    <result column="trait_id" jdbcType="INTEGER" property="traitId" />
    <result column="entrez_id" jdbcType="INTEGER" property="entrezID" />
    <result column="gene_symbol" jdbcType="VARCHAR" property="geneSymbol" />
    <result column="trait_name" jdbcType="VARCHAR" property="traitName" />
    <result column="species_common_name" jdbcType="VARCHAR" property="speciesCommonName" />
    <result column="taxon_id" jdbcType="INTEGER" property="taxonId" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="gwas_id" jdbcType="LONGVARCHAR" property="gwasId" />
    <result column="gwas_orgid" jdbcType="INTEGER" property="gwasOrgid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.ac.cncb.ngdc.syndb.entity.Trait2gwas">
    <result column="gwas_id" jdbcType="LONGVARCHAR" property="gwasId" />
  </resultMap>

  <resultMap id="hdbGwasResultMap" type="cn.ac.cncb.ngdc.syndb.entity.HdbGwas">
    <result column="gwas_id" jdbcType="VARCHAR" property="gwasId" />
    <result column="gwas_orgid" jdbcType="VARCHAR" property="gwasOrgid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gene_id, trait_id, trait_name, species_common_name, taxon_id,classification,
    create_time, last_update_time
  </sql>
  <sql id="Blob_Column_List">
    gwas_id
  </sql>

  <select id="findGwasOrgidByTaxonId" parameterType="java.lang.Integer" resultType="INTEGER">
    select gwas_orgid from species where taxon_id=#{taxonId}
  </select>

  <select id="selectTraitBySpecies" resultMap="BaseResultMap">
    select * from trait_all_copy1 where taxon_id = #{species}
  </select>

  <select id="biomedicalTrait" resultMap="BaseResultMap">
    select gene_id,hdb_gene_id,trait_id,entrez_id,trait_name,species_common_name,taxon_id,classification,gwas_id,(select gwas_orgid from species where taxon_id=trait_all_copy1.taxon_id) as gwas_orgid from trait_all_copy1 where classification=#{classification} and trait_id=#{traitId}
    <if test='speciesName != null and speciesName!="" and speciesName!="null"'>
      and species_common_name = #{speciesName}
    </if>
  </select>

  <select id="getInfoByTraitName" resultMap="BaseResultMap">
    select * from trait_all_copy1 where trait_name = #{traitName}
  </select>

  <select id="getInfoByTraitId" resultMap="BaseResultMap">
    select * from trait_all_copy1 where trait_id = #{traitId}
  </select>

  <select id="getOrthoInfo" resultMap="BaseResultMap">
    select * from trait_all_copy1 where taxon_id=#{querySpecies} and trait_id=#{traitId}
  </select>

  <select id="selectTraitCountByGeneAndTaxon" parameterType="java.util.HashMap" resultType="java.lang.Integer">
      select count(distinct trait_id) from trait_all_copy1 where hdb_gene_id=#{geneId} and taxon_id=#{taxonId}
  </select>
  <select id="traitInfoByGeneList" resultType="java.lang.String">
      select trait_name from trait_all_copy1 where hdb_gene_id=#{hdbid}
  </select>

  <select id="getGwasInfoByhdbid" resultMap="hdbGwasResultMap">
    select GROUP_CONCAT(a.gwas_id) as gwas_id,b.gwas_orgid from trait_all_copy1 a inner join species b on a.taxon_id = b.taxon_id where a.hdb_gene_id =#{hdbId}
  </select>

</mapper>