<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.Trait2gwasMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.Trait2gwas">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gene_id" jdbcType="VARCHAR" property="geneId" />
    <result column="trait_id" jdbcType="INTEGER" property="traitId" />
    <result column="trait_name" jdbcType="VARCHAR" property="traitName" />
    <result column="species_common_name" jdbcType="VARCHAR" property="speciesCommonName" />
    <result column="taxon_id" jdbcType="INTEGER" property="taxonId" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="gwas_id" jdbcType="LONGVARCHAR" property="gwasId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.ac.cncb.ngdc.syndb.entity.Trait2gwas">
    <result column="gwas_id" jdbcType="LONGVARCHAR" property="gwasId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gene_id, trait_id, trait_name, species_common_name, taxon_id,classification,
    create_time, last_update_time
  </sql>
  <sql id="Blob_Column_List">
    gwas_id
  </sql>

  <select id="findGwasOrgidByTaxonId" parameterType="java.lang.Integer" resultType="INTEGER">
    select gwas_orgid from species where taxon_id=#{taxonId}
  </select>

  <select id="selectTraitBySpecies" resultMap="BaseResultMap">
    select * from trait_all where taxon_id = #{species}
  </select>

  <select id="biomedicalTrait" resultMap="BaseResultMap">
    select * from trait_all
  </select>

  <select id="getInfoByTraitName" resultMap="BaseResultMap">
    select * from trait_all where trait_name = #{traitName}
  </select>

  <select id="getOrthoInfo" resultMap="BaseResultMap">
    select * from trait_all where taxon_id=#{querySpecies}
  </select>

  <select id="selectTraitCountByGeneAndTaxon" parameterType="java.util.HashMap" resultType="java.lang.Integer">
      select count(distinct trait_id) from trait_all where gene_id=#{geneId} and taxon_id=#{taxonId}
  </select>

</mapper>