<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.cncb.ngdc.syndb.mapper.VariantMapper">
  <resultMap id="BaseResultMap" type="cn.ac.cncb.ngdc.syndb.entity.Variant">
    <id column="gsi_id" jdbcType="INTEGER" property="gsiId" />
    <result column="gene_id" jdbcType="VARCHAR" property="geneId" />
    <result column="var_id" jdbcType="INTEGER" property="varId" />
    <result column="var_name" jdbcType="VARCHAR" property="varName" />
    <result column="species_common_name" jdbcType="VARCHAR" property="speciesCommonName" />
    <result column="taxon_id" jdbcType="INTEGER" property="taxonId" />
    <result column="snp_id" jdbcType="LONGVARCHAR" property="snpId" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="hdb_gene_id" jdbcType="VARCHAR" property="hdbid" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.ac.cncb.ngdc.syndb.entity.Variant">
    <result column="snp_id" jdbcType="LONGVARCHAR" property="snpId" />
  </resultMap>
  <sql id="Base_Column_List">
    gsi_id, gene_id, var_id, var_name, species_common_name, taxon_id
  </sql>
  <sql id="Blob_Column_List">
    snp_id
  </sql>

  <select id="initPageVariant" resultMap="BaseResultMap">
    select gene_id,hdb_gene_id,var_id,var_name,species_common_name,taxon_id,classification,snp_id,(select data_source from species where taxon_id=variation_all.taxon_id) as data_source from variation_all where classification=#{classification} and var_name=#{varname}
    <if test='speciesName != null and speciesName!="" and speciesName!="null"'>
      and species_common_name = #{speciesName}
    </if>
  </select>

  <select id="voInfoOfGene" resultMap="BaseResultMap">
    select * from variation_all inner join (select data_source,taxon_id from species) as a on variation_all.taxon_id=a.taxon_id where hdb_gene_id=#{hdbId}
  </select>

  <select id="varTypeByGene" resultType="java.lang.String">
      select var_name from variation_all where gene_id=#{geneName}
  </select>

  <select id="getInfoByVarNameAndSpecies" resultMap="BaseResultMap">
    select * from variation_all where var_name=#{varName}
    <if test='speciesName != null and speciesName!="" and speciesName!="null"'>
      and species_common_name = #{speciesName}
    </if>
  </select>
  <select id="getSnpidByhdbid" resultType="java.lang.String">
    select snp_id from variation_all where hdb_gene_id=#{hdbid} and var_id=#{varId}
  </select>
</mapper>